snippet ( "Create a pair of parentheses" i
(${1:${VISUAL}})$0
endsnippet


snippet [ "Create a pair of square brackets" i
[${1:${VISUAL}}]$0
endsnippet


snippet { "Create a pair of swirly brackets" i
{${1:${VISUAL}}}$0
endsnippet


snippet < "Create a pair of <>" i
<${1:${VISUAL}}>$0
endsnippet


snippet | "Create a pair of pipes" i
|${1:${VISUAL}}|$0
endsnippet
